.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.florist-container {
  max-width: 1100px;
  margin: auto
}

.card-img-top {
  height: 15vw;
  object-fit: cover;
}

.bg-lightGrey {
  background-color: #f4f5f7;
}

.text-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

a.nav-link.text-center.nav-link:hover {
  color: #fbd36b;
}

a.nav-link.text-center.nav-link {
  color: #000;
}

/* 
.App-link {
  color: #09d3ac;
}

.w-full {
  width: 100%;
}

.font-body {
  font-family: Montserrat;
}

.max-w-xs {
  max-width: 200rem;
}

.leading-snug {
  line-height: 1.375;
}

.bg-white {
  background-color: #fff;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.bg-gradiant {
  background: linear-gradient(110deg,#cee8e1 60%,#3e9591 0);
} */